=begin
#Crescendo API

#The Crescendo API powers workflow automation and transactional email at scale. Authenticate with a Bearer API key (prefix: `re_...`) obtained from the dashboard.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Crescendo
  class AudiencesContactsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a contact
    # Adds a new contact to your audience. Requires contact:write scope.
    # @param create_contact_request [CreateContactRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ContactResponse]
    def create_contact(create_contact_request, opts = {})
      data, _status_code, _headers = create_contact_with_http_info(create_contact_request, opts)
      data
    end

    # Create a contact
    # Adds a new contact to your audience. Requires contact:write scope.
    # @param create_contact_request [CreateContactRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactResponse, Integer, Hash)>] ContactResponse data, response status code and response headers
    def create_contact_with_http_info(create_contact_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudiencesContactsApi.create_contact ...'
      end
      # verify the required parameter 'create_contact_request' is set
      if @api_client.config.client_side_validation && create_contact_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_contact_request' when calling AudiencesContactsApi.create_contact"
      end
      # resource path
      local_var_path = '/api/v1/audiences'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_contact_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ContactResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AudiencesContactsApi.create_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudiencesContactsApi#create_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete contact
    # Deletes a contact. Requires contact:write scope.
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_contact(contact_id, opts = {})
      delete_contact_with_http_info(contact_id, opts)
      nil
    end

    # Delete contact
    # Deletes a contact. Requires contact:write scope.
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_contact_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudiencesContactsApi.delete_contact ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling AudiencesContactsApi.delete_contact"
      end
      # resource path
      local_var_path = '/api/v1/audiences/{contactId}'.sub('{contactId}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AudiencesContactsApi.delete_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudiencesContactsApi#delete_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get contact details
    # Gets details for a specific contact. Requires contact:read scope.
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ContactResponse]
    def get_contact(contact_id, opts = {})
      data, _status_code, _headers = get_contact_with_http_info(contact_id, opts)
      data
    end

    # Get contact details
    # Gets details for a specific contact. Requires contact:read scope.
    # @param contact_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactResponse, Integer, Hash)>] ContactResponse data, response status code and response headers
    def get_contact_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudiencesContactsApi.get_contact ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling AudiencesContactsApi.get_contact"
      end
      # resource path
      local_var_path = '/api/v1/audiences/{contactId}'.sub('{contactId}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ContactResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AudiencesContactsApi.get_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudiencesContactsApi#get_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List contacts
    # Lists all contacts. Requires contact:read scope.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 100)
    # @option opts [String] :after 
    # @return [PublicPageContactResponse]
    def list_contacts(opts = {})
      data, _status_code, _headers = list_contacts_with_http_info(opts)
      data
    end

    # List contacts
    # Lists all contacts. Requires contact:read scope.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 100)
    # @option opts [String] :after 
    # @return [Array<(PublicPageContactResponse, Integer, Hash)>] PublicPageContactResponse data, response status code and response headers
    def list_contacts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudiencesContactsApi.list_contacts ...'
      end
      # resource path
      local_var_path = '/api/v1/audiences'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PublicPageContactResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AudiencesContactsApi.list_contacts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudiencesContactsApi#list_contacts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update contact
    # Updates a contact. Requires contact:write scope.
    # @param contact_id [String] 
    # @param update_contact_request [UpdateContactRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ContactResponse]
    def update_contact(contact_id, update_contact_request, opts = {})
      data, _status_code, _headers = update_contact_with_http_info(contact_id, update_contact_request, opts)
      data
    end

    # Update contact
    # Updates a contact. Requires contact:write scope.
    # @param contact_id [String] 
    # @param update_contact_request [UpdateContactRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContactResponse, Integer, Hash)>] ContactResponse data, response status code and response headers
    def update_contact_with_http_info(contact_id, update_contact_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AudiencesContactsApi.update_contact ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling AudiencesContactsApi.update_contact"
      end
      # verify the required parameter 'update_contact_request' is set
      if @api_client.config.client_side_validation && update_contact_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_contact_request' when calling AudiencesContactsApi.update_contact"
      end
      # resource path
      local_var_path = '/api/v1/audiences/{contactId}'.sub('{contactId}', CGI.escape(contact_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_contact_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ContactResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AudiencesContactsApi.update_contact",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AudiencesContactsApi#update_contact\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
