=begin
#Crescendo API

#The Crescendo API powers workflow automation and transactional email at scale. Authenticate with a Bearer API key (prefix: `re_...`) obtained from the dashboard.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Crescendo
  class ConnectionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create connection
    # Creates a new connection for a third-party app. Requires connection:write scope.
    # @param create_connection_request [CreateConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectionResponse]
    def create_connection(create_connection_request, opts = {})
      data, _status_code, _headers = create_connection_with_http_info(create_connection_request, opts)
      data
    end

    # Create connection
    # Creates a new connection for a third-party app. Requires connection:write scope.
    # @param create_connection_request [CreateConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectionResponse, Integer, Hash)>] ConnectionResponse data, response status code and response headers
    def create_connection_with_http_info(create_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.create_connection ...'
      end
      # verify the required parameter 'create_connection_request' is set
      if @api_client.config.client_side_validation && create_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_connection_request' when calling ConnectionsApi.create_connection"
      end
      # resource path
      local_var_path = '/api/v1/connections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_connection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionsApi.create_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#create_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete connection
    # Deletes a connection. Requires connection:write scope.
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_connection(connection_id, opts = {})
      delete_connection_with_http_info(connection_id, opts)
      nil
    end

    # Delete connection
    # Deletes a connection. Requires connection:write scope.
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_connection_with_http_info(connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.delete_connection ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.delete_connection"
      end
      # resource path
      local_var_path = '/api/v1/connections/{connectionId}'.sub('{connectionId}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionsApi.delete_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#delete_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get connection details
    # Gets metadata for a specific connection. Credentials are never returned. Requires connection:read scope.
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectionResponse]
    def get_connection(connection_id, opts = {})
      data, _status_code, _headers = get_connection_with_http_info(connection_id, opts)
      data
    end

    # Get connection details
    # Gets metadata for a specific connection. Credentials are never returned. Requires connection:read scope.
    # @param connection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectionResponse, Integer, Hash)>] ConnectionResponse data, response status code and response headers
    def get_connection_with_http_info(connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.get_connection ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.get_connection"
      end
      # resource path
      local_var_path = '/api/v1/connections/{connectionId}'.sub('{connectionId}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionsApi.get_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#get_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List connections
    # Lists all connections. Requires connection:read scope.
    # @param [Hash] opts the optional parameters
    # @return [Array<ConnectionResponse>]
    def list_connections(opts = {})
      data, _status_code, _headers = list_connections_with_http_info(opts)
      data
    end

    # List connections
    # Lists all connections. Requires connection:read scope.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ConnectionResponse>, Integer, Hash)>] Array<ConnectionResponse> data, response status code and response headers
    def list_connections_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.list_connections ...'
      end
      # resource path
      local_var_path = '/api/v1/connections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ConnectionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionsApi.list_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#list_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update connection
    # Updates a connection's name or credentials. Requires connection:write scope.
    # @param connection_id [String] 
    # @param update_connection_request [UpdateConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_connection(connection_id, update_connection_request, opts = {})
      update_connection_with_http_info(connection_id, update_connection_request, opts)
      nil
    end

    # Update connection
    # Updates a connection&#39;s name or credentials. Requires connection:write scope.
    # @param connection_id [String] 
    # @param update_connection_request [UpdateConnectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_connection_with_http_info(connection_id, update_connection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionsApi.update_connection ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling ConnectionsApi.update_connection"
      end
      # verify the required parameter 'update_connection_request' is set
      if @api_client.config.client_side_validation && update_connection_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_connection_request' when calling ConnectionsApi.update_connection"
      end
      # resource path
      local_var_path = '/api/v1/connections/{connectionId}'.sub('{connectionId}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_connection_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionsApi.update_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionsApi#update_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
