=begin
#Crescendo API

#The Crescendo API powers workflow automation and transactional email at scale. Authenticate with a Bearer API key (prefix: `re_...`) obtained from the dashboard.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Crescendo
  class CustomEventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a custom event
    # @param create_custom_event_request [CreateCustomEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CustomEvent]
    def create_event(create_custom_event_request, opts = {})
      data, _status_code, _headers = create_event_with_http_info(create_custom_event_request, opts)
      data
    end

    # Create a custom event
    # @param create_custom_event_request [CreateCustomEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomEvent, Integer, Hash)>] CustomEvent data, response status code and response headers
    def create_event_with_http_info(create_custom_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEventsApi.create_event ...'
      end
      # verify the required parameter 'create_custom_event_request' is set
      if @api_client.config.client_side_validation && create_custom_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_custom_event_request' when calling CustomEventsApi.create_event"
      end
      # resource path
      local_var_path = '/api/v1/email/custom-events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_custom_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomEvent'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CustomEventsApi.create_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEventsApi#create_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a custom event
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_event(name, opts = {})
      delete_event_with_http_info(name, opts)
      nil
    end

    # Delete a custom event
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_event_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEventsApi.delete_event ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling CustomEventsApi.delete_event"
      end
      # resource path
      local_var_path = '/api/v1/email/custom-events/{name}'.sub('{name}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CustomEventsApi.delete_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEventsApi#delete_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fire a custom event
    # @param name [String] 
    # @param fire_custom_event_request [FireCustomEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def fire_event(name, fire_custom_event_request, opts = {})
      fire_event_with_http_info(name, fire_custom_event_request, opts)
      nil
    end

    # Fire a custom event
    # @param name [String] 
    # @param fire_custom_event_request [FireCustomEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def fire_event_with_http_info(name, fire_custom_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEventsApi.fire_event ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling CustomEventsApi.fire_event"
      end
      # verify the required parameter 'fire_custom_event_request' is set
      if @api_client.config.client_side_validation && fire_custom_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'fire_custom_event_request' when calling CustomEventsApi.fire_event"
      end
      # resource path
      local_var_path = '/api/v1/email/custom-events/{name}/fire'.sub('{name}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fire_custom_event_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CustomEventsApi.fire_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEventsApi#fire_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List custom events
    # @param [Hash] opts the optional parameters
    # @return [Array<CustomEvent>]
    def list_events(opts = {})
      data, _status_code, _headers = list_events_with_http_info(opts)
      data
    end

    # List custom events
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CustomEvent>, Integer, Hash)>] Array<CustomEvent> data, response status code and response headers
    def list_events_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomEventsApi.list_events ...'
      end
      # resource path
      local_var_path = '/api/v1/email/custom-events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CustomEvent>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CustomEventsApi.list_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomEventsApi#list_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
