=begin
#Crescendo API

#The Crescendo API powers workflow automation and transactional email at scale. Authenticate with a Bearer API key (prefix: `re_...`) obtained from the dashboard.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Crescendo
  class EmailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get email details
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [EmailLogResponse]
    def get_email(email_id, opts = {})
      data, _status_code, _headers = get_email_with_http_info(email_id, opts)
      data
    end

    # Get email details
    # @param email_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmailLogResponse, Integer, Hash)>] EmailLogResponse data, response status code and response headers
    def get_email_with_http_info(email_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.get_email ...'
      end
      # verify the required parameter 'email_id' is set
      if @api_client.config.client_side_validation && email_id.nil?
        fail ArgumentError, "Missing the required parameter 'email_id' when calling EmailsApi.get_email"
      end
      # resource path
      local_var_path = '/api/v1/emails/{emailId}'.sub('{emailId}', CGI.escape(email_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmailLogResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailsApi.get_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#get_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List emails
    # @param [Hash] opts the optional parameters
    # @return [Array<EmailLogResponse>]
    def list_emails(opts = {})
      data, _status_code, _headers = list_emails_with_http_info(opts)
      data
    end

    # List emails
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<EmailLogResponse>, Integer, Hash)>] Array<EmailLogResponse> data, response status code and response headers
    def list_emails_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.list_emails ...'
      end
      # resource path
      local_var_path = '/api/v1/emails'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EmailLogResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailsApi.list_emails",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#list_emails\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search emails
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<EmailLogResponse>]
    def search_emails(q, opts = {})
      data, _status_code, _headers = search_emails_with_http_info(q, opts)
      data
    end

    # Search emails
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<EmailLogResponse>, Integer, Hash)>] Array<EmailLogResponse> data, response status code and response headers
    def search_emails_with_http_info(q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.search_emails ...'
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling EmailsApi.search_emails"
      end
      # resource path
      local_var_path = '/api/v1/emails/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EmailLogResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailsApi.search_emails",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#search_emails\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param send_batch_request [SendBatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SendBatchResponse]
    def send_batch(send_batch_request, opts = {})
      data, _status_code, _headers = send_batch_with_http_info(send_batch_request, opts)
      data
    end

    # @param send_batch_request [SendBatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendBatchResponse, Integer, Hash)>] SendBatchResponse data, response status code and response headers
    def send_batch_with_http_info(send_batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.send_batch ...'
      end
      # verify the required parameter 'send_batch_request' is set
      if @api_client.config.client_side_validation && send_batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_batch_request' when calling EmailsApi.send_batch"
      end
      # resource path
      local_var_path = '/api/v1/emails/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_batch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendBatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailsApi.send_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#send_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param send_email_request [SendEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SendEmailResponse]
    def send_email(send_email_request, opts = {})
      data, _status_code, _headers = send_email_with_http_info(send_email_request, opts)
      data
    end

    # @param send_email_request [SendEmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendEmailResponse, Integer, Hash)>] SendEmailResponse data, response status code and response headers
    def send_email_with_http_info(send_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.send_email ...'
      end
      # verify the required parameter 'send_email_request' is set
      if @api_client.config.client_side_validation && send_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_email_request' when calling EmailsApi.send_email"
      end
      # resource path
      local_var_path = '/api/v1/emails'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendEmailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailsApi.send_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#send_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # @param send_templated_request [SendTemplatedRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SendEmailResponse]
    def send_templated(send_templated_request, opts = {})
      data, _status_code, _headers = send_templated_with_http_info(send_templated_request, opts)
      data
    end

    # @param send_templated_request [SendTemplatedRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendEmailResponse, Integer, Hash)>] SendEmailResponse data, response status code and response headers
    def send_templated_with_http_info(send_templated_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailsApi.send_templated ...'
      end
      # verify the required parameter 'send_templated_request' is set
      if @api_client.config.client_side_validation && send_templated_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_templated_request' when calling EmailsApi.send_templated"
      end
      # resource path
      local_var_path = '/api/v1/emails/templated'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_templated_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendEmailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmailsApi.send_templated",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailsApi#send_templated\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
