=begin
#Crescendo API

#The Crescendo API powers workflow automation and transactional email at scale. Authenticate with a Bearer API key (prefix: `re_...`) obtained from the dashboard.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Crescendo
  class SuppressionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a suppression
    # Manually suppresses an email address. Requires suppression:write scope.
    # @param add_suppression_request [AddSuppressionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def add_suppression(add_suppression_request, opts = {})
      add_suppression_with_http_info(add_suppression_request, opts)
      nil
    end

    # Add a suppression
    # Manually suppresses an email address. Requires suppression:write scope.
    # @param add_suppression_request [AddSuppressionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def add_suppression_with_http_info(add_suppression_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionsApi.add_suppression ...'
      end
      # verify the required parameter 'add_suppression_request' is set
      if @api_client.config.client_side_validation && add_suppression_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_suppression_request' when calling SuppressionsApi.add_suppression"
      end
      # resource path
      local_var_path = '/api/v1/suppressions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_suppression_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SuppressionsApi.add_suppression",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionsApi#add_suppression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Bulk import suppressions
    # Imports a bulk list of suppressions. Requires suppression:import scope.
    # @param import_suppressions_request [ImportSuppressionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def import_suppressions(import_suppressions_request, opts = {})
      import_suppressions_with_http_info(import_suppressions_request, opts)
      nil
    end

    # Bulk import suppressions
    # Imports a bulk list of suppressions. Requires suppression:import scope.
    # @param import_suppressions_request [ImportSuppressionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def import_suppressions_with_http_info(import_suppressions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionsApi.import_suppressions ...'
      end
      # verify the required parameter 'import_suppressions_request' is set
      if @api_client.config.client_side_validation && import_suppressions_request.nil?
        fail ArgumentError, "Missing the required parameter 'import_suppressions_request' when calling SuppressionsApi.import_suppressions"
      end
      # resource path
      local_var_path = '/api/v1/suppressions/import'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(import_suppressions_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SuppressionsApi.import_suppressions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionsApi#import_suppressions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List suppressions
    # Lists all suppressed email addresses. Requires suppression:read scope.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 100)
    # @option opts [String] :after 
    # @return [PublicPageSuppressionResponse]
    def list_suppressions(opts = {})
      data, _status_code, _headers = list_suppressions_with_http_info(opts)
      data
    end

    # List suppressions
    # Lists all suppressed email addresses. Requires suppression:read scope.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 100)
    # @option opts [String] :after 
    # @return [Array<(PublicPageSuppressionResponse, Integer, Hash)>] PublicPageSuppressionResponse data, response status code and response headers
    def list_suppressions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionsApi.list_suppressions ...'
      end
      # resource path
      local_var_path = '/api/v1/suppressions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PublicPageSuppressionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SuppressionsApi.list_suppressions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionsApi#list_suppressions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a suppression
    # Removes an email address from the suppression list. Requires suppression:write scope.
    # @param suppression_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_suppression(suppression_id, opts = {})
      remove_suppression_with_http_info(suppression_id, opts)
      nil
    end

    # Delete a suppression
    # Removes an email address from the suppression list. Requires suppression:write scope.
    # @param suppression_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_suppression_with_http_info(suppression_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionsApi.remove_suppression ...'
      end
      # verify the required parameter 'suppression_id' is set
      if @api_client.config.client_side_validation && suppression_id.nil?
        fail ArgumentError, "Missing the required parameter 'suppression_id' when calling SuppressionsApi.remove_suppression"
      end
      # resource path
      local_var_path = '/api/v1/suppressions/{suppressionId}'.sub('{suppressionId}', CGI.escape(suppression_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SuppressionsApi.remove_suppression",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionsApi#remove_suppression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
