=begin
#Crescendo API

#The Crescendo API powers workflow automation and transactional email at scale. Authenticate with a Bearer API key (prefix: `re_...`) obtained from the dashboard.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Crescendo
  class WorkflowsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate workflow
    # Enables triggering for a workflow. Requires workflow:write scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def activate_workflow(workflow_id, opts = {})
      activate_workflow_with_http_info(workflow_id, opts)
      nil
    end

    # Activate workflow
    # Enables triggering for a workflow. Requires workflow:write scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def activate_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.activate_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.activate_workflow"
      end
      # resource path
      local_var_path = '/api/v1/workflows/{workflowId}/activate'.sub('{workflowId}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowsApi.activate_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#activate_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create workflow
    # Creates a new workflow. Requires workflow:write scope.
    # @param create_workflow_request [CreateWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WorkflowSummaryResponse]
    def create_workflow(create_workflow_request, opts = {})
      data, _status_code, _headers = create_workflow_with_http_info(create_workflow_request, opts)
      data
    end

    # Create workflow
    # Creates a new workflow. Requires workflow:write scope.
    # @param create_workflow_request [CreateWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowSummaryResponse, Integer, Hash)>] WorkflowSummaryResponse data, response status code and response headers
    def create_workflow_with_http_info(create_workflow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.create_workflow ...'
      end
      # verify the required parameter 'create_workflow_request' is set
      if @api_client.config.client_side_validation && create_workflow_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_workflow_request' when calling WorkflowsApi.create_workflow"
      end
      # resource path
      local_var_path = '/api/v1/workflows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_workflow_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowSummaryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowsApi.create_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#create_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deactivate workflow
    # Disables triggering for a workflow. Requires workflow:write scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def deactivate_workflow(workflow_id, opts = {})
      deactivate_workflow_with_http_info(workflow_id, opts)
      nil
    end

    # Deactivate workflow
    # Disables triggering for a workflow. Requires workflow:write scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def deactivate_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.deactivate_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.deactivate_workflow"
      end
      # resource path
      local_var_path = '/api/v1/workflows/{workflowId}/deactivate'.sub('{workflowId}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowsApi.deactivate_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#deactivate_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete workflow
    # Soft-deletes a workflow. Requires workflow:write scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_workflow(workflow_id, opts = {})
      delete_workflow_with_http_info(workflow_id, opts)
      nil
    end

    # Delete workflow
    # Soft-deletes a workflow. Requires workflow:write scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.delete_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.delete_workflow"
      end
      # resource path
      local_var_path = '/api/v1/workflows/{workflowId}'.sub('{workflowId}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowsApi.delete_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#delete_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get workflow details
    # Gets metadata and step configuration for a specific workflow. Requires workflow:read scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WorkflowDetailResponse]
    def get_workflow(workflow_id, opts = {})
      data, _status_code, _headers = get_workflow_with_http_info(workflow_id, opts)
      data
    end

    # Get workflow details
    # Gets metadata and step configuration for a specific workflow. Requires workflow:read scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowDetailResponse, Integer, Hash)>] WorkflowDetailResponse data, response status code and response headers
    def get_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.get_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.get_workflow"
      end
      # resource path
      local_var_path = '/api/v1/workflows/{workflowId}'.sub('{workflowId}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowDetailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowsApi.get_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#get_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List workflows
    # Lists workflows with optional status filter and cursor pagination. Requires workflow:read scope.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :after 
    # @return [WorkflowListResponse]
    def list_workflows(opts = {})
      data, _status_code, _headers = list_workflows_with_http_info(opts)
      data
    end

    # List workflows
    # Lists workflows with optional status filter and cursor pagination. Requires workflow:read scope.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status 
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [String] :after 
    # @return [Array<(WorkflowListResponse, Integer, Hash)>] WorkflowListResponse data, response status code and response headers
    def list_workflows_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.list_workflows ...'
      end
      # resource path
      local_var_path = '/api/v1/workflows'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowsApi.list_workflows",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#list_workflows\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger workflow
    # Programmatically triggers an active workflow. Returns immediately while execution happens asynchronously. Requires workflow:trigger scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @option opts [Hash<String, Object>] :request_body 
    # @return [WorkflowRunSummaryResponse]
    def trigger_workflow(workflow_id, opts = {})
      data, _status_code, _headers = trigger_workflow_with_http_info(workflow_id, opts)
      data
    end

    # Trigger workflow
    # Programmatically triggers an active workflow. Returns immediately while execution happens asynchronously. Requires workflow:trigger scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key 
    # @option opts [Hash<String, Object>] :request_body 
    # @return [Array<(WorkflowRunSummaryResponse, Integer, Hash)>] WorkflowRunSummaryResponse data, response status code and response headers
    def trigger_workflow_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.trigger_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.trigger_workflow"
      end
      # resource path
      local_var_path = '/api/v1/workflows/{workflowId}/trigger'.sub('{workflowId}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowRunSummaryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowsApi.trigger_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#trigger_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update workflow
    # Updates a workflow's metadata. Requires workflow:write scope.
    # @param workflow_id [String] 
    # @param update_workflow_request [UpdateWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_workflow(workflow_id, update_workflow_request, opts = {})
      update_workflow_with_http_info(workflow_id, update_workflow_request, opts)
      nil
    end

    # Update workflow
    # Updates a workflow&#39;s metadata. Requires workflow:write scope.
    # @param workflow_id [String] 
    # @param update_workflow_request [UpdateWorkflowRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_workflow_with_http_info(workflow_id, update_workflow_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowsApi.update_workflow ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowsApi.update_workflow"
      end
      # verify the required parameter 'update_workflow_request' is set
      if @api_client.config.client_side_validation && update_workflow_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_workflow_request' when calling WorkflowsApi.update_workflow"
      end
      # resource path
      local_var_path = '/api/v1/workflows/{workflowId}'.sub('{workflowId}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_workflow_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowsApi.update_workflow",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowsApi#update_workflow\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
