=begin
#Crescendo API

#The Crescendo API powers workflow automation and transactional email at scale. Authenticate with a Bearer API key (prefix: `re_...`) obtained from the dashboard.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.23.0

=end

require 'cgi'

module Crescendo
  class WorkflowRunsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel workflow run
    # Cancels a pending or currently executing run. Requires run:cancel scope.
    # @param workflow_id [String] 
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def cancel_run(workflow_id, run_id, opts = {})
      cancel_run_with_http_info(workflow_id, run_id, opts)
      nil
    end

    # Cancel workflow run
    # Cancels a pending or currently executing run. Requires run:cancel scope.
    # @param workflow_id [String] 
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def cancel_run_with_http_info(workflow_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowRunsApi.cancel_run ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowRunsApi.cancel_run"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkflowRunsApi.cancel_run"
      end
      # resource path
      local_var_path = '/api/v1/workflows/{workflowId}/runs/{runId}/cancel'.sub('{workflowId}', CGI.escape(workflow_id.to_s)).sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowRunsApi.cancel_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowRunsApi#cancel_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get run details
    # Gets execution details including step results for a specific run. Requires run:read scope.
    # @param workflow_id [String] 
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WorkflowRunDetailResponse]
    def get_run_detail(workflow_id, run_id, opts = {})
      data, _status_code, _headers = get_run_detail_with_http_info(workflow_id, run_id, opts)
      data
    end

    # Get run details
    # Gets execution details including step results for a specific run. Requires run:read scope.
    # @param workflow_id [String] 
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowRunDetailResponse, Integer, Hash)>] WorkflowRunDetailResponse data, response status code and response headers
    def get_run_detail_with_http_info(workflow_id, run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowRunsApi.get_run_detail ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowRunsApi.get_run_detail"
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkflowRunsApi.get_run_detail"
      end
      # resource path
      local_var_path = '/api/v1/workflows/{workflowId}/runs/{runId}'.sub('{workflowId}', CGI.escape(workflow_id.to_s)).sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowRunDetailResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowRunsApi.get_run_detail",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowRunsApi#get_run_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get run statistics
    # Gets aggregated execution statistics for a workflow. Requires run:read scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WorkflowRunStatsResponse]
    def get_run_stats(workflow_id, opts = {})
      data, _status_code, _headers = get_run_stats_with_http_info(workflow_id, opts)
      data
    end

    # Get run statistics
    # Gets aggregated execution statistics for a workflow. Requires run:read scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WorkflowRunStatsResponse, Integer, Hash)>] WorkflowRunStatsResponse data, response status code and response headers
    def get_run_stats_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowRunsApi.get_run_stats ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowRunsApi.get_run_stats"
      end
      # resource path
      local_var_path = '/api/v1/workflows/{workflowId}/runs/stats'.sub('{workflowId}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WorkflowRunStatsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowRunsApi.get_run_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowRunsApi#get_run_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get step run details
    # Gets specific step execution details. Requires run:read scope.
    # @param run_id [String] 
    # @param step_run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [StepRunResponse]
    def get_step_run(run_id, step_run_id, opts = {})
      data, _status_code, _headers = get_step_run_with_http_info(run_id, step_run_id, opts)
      data
    end

    # Get step run details
    # Gets specific step execution details. Requires run:read scope.
    # @param run_id [String] 
    # @param step_run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(StepRunResponse, Integer, Hash)>] StepRunResponse data, response status code and response headers
    def get_step_run_with_http_info(run_id, step_run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowRunsApi.get_step_run ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkflowRunsApi.get_step_run"
      end
      # verify the required parameter 'step_run_id' is set
      if @api_client.config.client_side_validation && step_run_id.nil?
        fail ArgumentError, "Missing the required parameter 'step_run_id' when calling WorkflowRunsApi.get_step_run"
      end
      # resource path
      local_var_path = '/api/v1/runs/{runId}/steps/{stepRunId}'.sub('{runId}', CGI.escape(run_id.to_s)).sub('{stepRunId}', CGI.escape(step_run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'StepRunResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowRunsApi.get_step_run",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowRunsApi#get_step_run\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all runs
    # Lists execution runs across all workflows. Requires run:read scope.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :size  (default to 20)
    # @return [PageWorkflowRunSummaryResponse]
    def list_all_runs(opts = {})
      data, _status_code, _headers = list_all_runs_with_http_info(opts)
      data
    end

    # List all runs
    # Lists execution runs across all workflows. Requires run:read scope.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :size  (default to 20)
    # @return [Array<(PageWorkflowRunSummaryResponse, Integer, Hash)>] PageWorkflowRunSummaryResponse data, response status code and response headers
    def list_all_runs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowRunsApi.list_all_runs ...'
      end
      # resource path
      local_var_path = '/api/v1/runs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PageWorkflowRunSummaryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowRunsApi.list_all_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowRunsApi#list_all_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List workflow runs
    # Lists all execution runs for a specific workflow. Requires run:read scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :size  (default to 20)
    # @return [PageWorkflowRunSummaryResponse]
    def list_runs(workflow_id, opts = {})
      data, _status_code, _headers = list_runs_with_http_info(workflow_id, opts)
      data
    end

    # List workflow runs
    # Lists all execution runs for a specific workflow. Requires run:read scope.
    # @param workflow_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 0)
    # @option opts [Integer] :size  (default to 20)
    # @return [Array<(PageWorkflowRunSummaryResponse, Integer, Hash)>] PageWorkflowRunSummaryResponse data, response status code and response headers
    def list_runs_with_http_info(workflow_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowRunsApi.list_runs ...'
      end
      # verify the required parameter 'workflow_id' is set
      if @api_client.config.client_side_validation && workflow_id.nil?
        fail ArgumentError, "Missing the required parameter 'workflow_id' when calling WorkflowRunsApi.list_runs"
      end
      # resource path
      local_var_path = '/api/v1/workflows/{workflowId}/runs'.sub('{workflowId}', CGI.escape(workflow_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PageWorkflowRunSummaryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowRunsApi.list_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowRunsApi#list_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List step runs
    # Lists step execution details for a specific run. Requires run:read scope.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<StepRunResponse>]
    def list_step_runs(run_id, opts = {})
      data, _status_code, _headers = list_step_runs_with_http_info(run_id, opts)
      data
    end

    # List step runs
    # Lists step execution details for a specific run. Requires run:read scope.
    # @param run_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<StepRunResponse>, Integer, Hash)>] Array<StepRunResponse> data, response status code and response headers
    def list_step_runs_with_http_info(run_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WorkflowRunsApi.list_step_runs ...'
      end
      # verify the required parameter 'run_id' is set
      if @api_client.config.client_side_validation && run_id.nil?
        fail ArgumentError, "Missing the required parameter 'run_id' when calling WorkflowRunsApi.list_step_runs"
      end
      # resource path
      local_var_path = '/api/v1/runs/{runId}/steps'.sub('{runId}', CGI.escape(run_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<StepRunResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WorkflowRunsApi.list_step_runs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WorkflowRunsApi#list_step_runs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
