{"openapi":"3.1.0","info":{"title":"Crescendo API","description":"The Crescendo API powers workflow automation and transactional email at scale. Authenticate with a Bearer API key (prefix: `re_...`) obtained from the dashboard.","contact":{"name":"Crescendo Developer Support","url":"https://crescendo.run/docs"},"license":{"name":"MIT","url":"https://github.com/AnkitArsh19/crescendo/blob/main/LICENSE"},"version":"v1"},"servers":[{"url":"https://api.crescendo.run","description":"Production"},{"url":"http://localhost:8080","description":"Local Development"}],"tags":[{"name":"Metrics","description":"Public API for email delivery metrics and analytics"},{"name":"Workflows","description":"Public API for creating, managing, and triggering workflows"},{"name":"Audiences (Contacts)","description":"Public API for managing contacts/audiences"},{"name":"Connections","description":"Public API for managing third-party app credentials"},{"name":"Domains","description":"Public API for managing email domains"},{"name":"Emails","description":"Public API for sending and tracking emails"},{"name":"App Catalog","description":"Public API for retrieving supported apps and actions"},{"name":"Workflow Runs","description":"Public API for polling execution status and logs"},{"name":"Suppressions","description":"Public API for managing email suppressions"},{"name":"Templates","description":"Public API for managing email templates"},{"name":"Webhooks","description":"Public API for managing outbound webhook subscriptions"},{"name":"Custom Events","description":"Public API for managing custom events that trigger or resume workflows"}],"paths":{"/api/v1/workflows":{"get":{"tags":["Workflows"],"summary":"List workflows","description":"Lists workflows with optional status filter and cursor pagination. Requires workflow:read scope.","operationId":"listWorkflows","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}},{"name":"after","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowListResponse"}}}}}},"post":{"tags":["Workflows"],"summary":"Create workflow","description":"Creates a new workflow. Requires workflow:write scope.","operationId":"createWorkflow","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWorkflowRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowSummaryResponse"}}}}}}},"/api/v1/workflows/{workflowId}/trigger":{"post":{"tags":["Workflows"],"summary":"Trigger workflow","description":"Programmatically triggers an active workflow. Returns immediately while execution happens asynchronously. Requires workflow:trigger scope.","operationId":"triggerWorkflow","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowRunSummaryResponse"}}}}}}},"/api/v1/workflows/{workflowId}/runs/{runId}/cancel":{"post":{"tags":["Workflow Runs"],"summary":"Cancel workflow run","description":"Cancels a pending or currently executing run. Requires run:cancel scope.","operationId":"cancelRun","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"runId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/workflows/{workflowId}/deactivate":{"post":{"tags":["Workflows"],"summary":"Deactivate workflow","description":"Disables triggering for a workflow. Requires workflow:write scope.","operationId":"deactivateWorkflow","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/workflows/{workflowId}/activate":{"post":{"tags":["Workflows"],"summary":"Activate workflow","description":"Enables triggering for a workflow. Requires workflow:write scope.","operationId":"activateWorkflow","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/webhooks":{"get":{"tags":["Webhooks"],"operationId":"listSubscriptions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PublicWebhookListResponse"}}}}}}},"post":{"tags":["Webhooks"],"operationId":"createSubscription","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateWebhookRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicWebhookResponse"}}}}}}},"/api/v1/templates":{"get":{"tags":["Templates"],"operationId":"listTemplates","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PublicTemplateResponse"}}}}}}},"post":{"tags":["Templates"],"operationId":"createTemplate","parameters":[{"name":"Idempotency-Key","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTemplateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicTemplateResponse"}}}}}}},"/api/v1/templates/{templateId}/test":{"post":{"tags":["Templates"],"operationId":"testSend","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TestSendRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicTestSendResponse"}}}}}}},"/api/v1/templates/{templateId}/publish":{"post":{"tags":["Templates"],"operationId":"publishTemplate","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicTemplateResponse"}}}}}}},"/api/v1/templates/clone-from-broadcast/{broadcastId}":{"post":{"tags":["Templates"],"operationId":"cloneFromBroadcast","parameters":[{"name":"broadcastId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicTemplateResponse"}}}}}}},"/api/v1/suppressions":{"get":{"tags":["Suppressions"],"summary":"List suppressions","description":"Lists all suppressed email addresses. Requires suppression:read scope.","operationId":"listSuppressions","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":100}},{"name":"after","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicPageSuppressionResponse"}}}}}},"post":{"tags":["Suppressions"],"summary":"Add a suppression","description":"Manually suppresses an email address. Requires suppression:write scope.","operationId":"addSuppression","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddSuppressionRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/suppressions/import":{"post":{"tags":["Suppressions"],"summary":"Bulk import suppressions","description":"Imports a bulk list of suppressions. Requires suppression:import scope.","operationId":"importSuppressions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportSuppressionsRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/emails":{"get":{"tags":["Emails"],"summary":"List emails","operationId":"listEmails","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmailLogResponse"}}}}}}},"post":{"tags":["Emails"],"operationId":"sendEmail","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEmailRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SendEmailResponse"}}}}}}},"/api/v1/emails/templated":{"post":{"tags":["Emails"],"operationId":"sendTemplated","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendTemplatedRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SendEmailResponse"}}}}}}},"/api/v1/emails/batch":{"post":{"tags":["Emails"],"operationId":"sendBatch","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendBatchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SendBatchResponse"}}}}}}},"/api/v1/email/custom-events":{"get":{"tags":["Custom Events"],"summary":"List custom events","operationId":"listEvents","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomEvent"}}}}}}},"post":{"tags":["Custom Events"],"summary":"Create a custom event","operationId":"createEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCustomEventRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomEvent"}}}}}}},"/api/v1/email/custom-events/{name}/fire":{"post":{"tags":["Custom Events"],"summary":"Fire a custom event","operationId":"fireEvent","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FireCustomEventRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/domains":{"get":{"tags":["Domains"],"summary":"List domains","description":"Lists all registered domains. Requires domain:read scope.","operationId":"listDomains","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":100}},{"name":"after","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicPageDomainResponse"}}}}}},"post":{"tags":["Domains"],"summary":"Add a domain","description":"Registers a new domain. Requires domain:write scope.","operationId":"addDomain","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddDomainRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainResponse"}}}}}}},"/api/v1/domains/{domainId}/verify":{"post":{"tags":["Domains"],"summary":"Verify domain DNS","description":"Triggers a DNS verification check. Requires domain:write scope.","operationId":"verifyDomain","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainResponse"}}}}}}},"/api/v1/connections":{"get":{"tags":["Connections"],"summary":"List connections","description":"Lists all connections. Requires connection:read scope.","operationId":"listConnections","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConnectionResponse"}}}}}}},"post":{"tags":["Connections"],"summary":"Create connection","description":"Creates a new connection for a third-party app. Requires connection:write scope.","operationId":"createConnection","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateConnectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConnectionResponse"}}}}}}},"/api/v1/audiences":{"get":{"tags":["Audiences (Contacts)"],"summary":"List contacts","description":"Lists all contacts. Requires contact:read scope.","operationId":"listContacts","parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":100}},{"name":"after","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicPageContactResponse"}}}}}},"post":{"tags":["Audiences (Contacts)"],"summary":"Create a contact","description":"Adds a new contact to your audience. Requires contact:write scope.","operationId":"createContact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContactRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactResponse"}}}}}}},"/api/v1/workflows/{workflowId}":{"get":{"tags":["Workflows"],"summary":"Get workflow details","description":"Gets metadata and step configuration for a specific workflow. Requires workflow:read scope.","operationId":"getWorkflow","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowDetailResponse"}}}}}},"delete":{"tags":["Workflows"],"summary":"Delete workflow","description":"Soft-deletes a workflow. Requires workflow:write scope.","operationId":"deleteWorkflow","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["Workflows"],"summary":"Update workflow","description":"Updates a workflow's metadata. Requires workflow:write scope.","operationId":"updateWorkflow","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateWorkflowRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/templates/{templateId}":{"get":{"tags":["Templates"],"operationId":"getTemplate","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicTemplateResponse"}}}}}},"delete":{"tags":["Templates"],"operationId":"deleteTemplate","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["Templates"],"operationId":"updateTemplate","parameters":[{"name":"templateId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTemplateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicTemplateResponse"}}}}}}},"/api/v1/connections/{connectionId}":{"get":{"tags":["Connections"],"summary":"Get connection details","description":"Gets metadata for a specific connection. Credentials are never returned. Requires connection:read scope.","operationId":"getConnection","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConnectionResponse"}}}}}},"delete":{"tags":["Connections"],"summary":"Delete connection","description":"Deletes a connection. Requires connection:write scope.","operationId":"deleteConnection","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["Connections"],"summary":"Update connection","description":"Updates a connection's name or credentials. Requires connection:write scope.","operationId":"updateConnection","parameters":[{"name":"connectionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateConnectionRequest"}}},"required":true},"responses":{"200":{"description":"OK"}}}},"/api/v1/audiences/{contactId}":{"get":{"tags":["Audiences (Contacts)"],"summary":"Get contact details","description":"Gets details for a specific contact. Requires contact:read scope.","operationId":"getContact","parameters":[{"name":"contactId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactResponse"}}}}}},"delete":{"tags":["Audiences (Contacts)"],"summary":"Delete contact","description":"Deletes a contact. Requires contact:write scope.","operationId":"deleteContact","parameters":[{"name":"contactId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["Audiences (Contacts)"],"summary":"Update contact","description":"Updates a contact. Requires contact:write scope.","operationId":"updateContact","parameters":[{"name":"contactId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateContactRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactResponse"}}}}}}},"/api/v1/workflows/{workflowId}/runs":{"get":{"tags":["Workflow Runs"],"summary":"List workflow runs","description":"Lists all execution runs for a specific workflow. Requires run:read scope.","operationId":"listRuns","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageWorkflowRunSummaryResponse"}}}}}}},"/api/v1/workflows/{workflowId}/runs/{runId}":{"get":{"tags":["Workflow Runs"],"summary":"Get run details","description":"Gets execution details including step results for a specific run. Requires run:read scope.","operationId":"getRunDetail","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"runId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowRunDetailResponse"}}}}}}},"/api/v1/workflows/{workflowId}/runs/stats":{"get":{"tags":["Workflow Runs"],"summary":"Get run statistics","description":"Gets aggregated execution statistics for a workflow. Requires run:read scope.","operationId":"getRunStats","parameters":[{"name":"workflowId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WorkflowRunStatsResponse"}}}}}}},"/api/v1/runs":{"get":{"tags":["Workflow Runs"],"summary":"List all runs","description":"Lists execution runs across all workflows. Requires run:read scope.","operationId":"listAllRuns","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageWorkflowRunSummaryResponse"}}}}}}},"/api/v1/runs/{runId}/steps":{"get":{"tags":["Workflow Runs"],"summary":"List step runs","description":"Lists step execution details for a specific run. Requires run:read scope.","operationId":"listStepRuns","parameters":[{"name":"runId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/StepRunResponse"}}}}}}}},"/api/v1/runs/{runId}/steps/{stepRunId}":{"get":{"tags":["Workflow Runs"],"summary":"Get step run details","description":"Gets specific step execution details. Requires run:read scope.","operationId":"getStepRun","parameters":[{"name":"runId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"stepRunId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/StepRunResponse"}}}}}}},"/api/v1/metrics":{"get":{"tags":["Metrics"],"operationId":"getMetrics","parameters":[{"name":"days","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":30}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MetricsResponse"}}}}}}},"/api/v1/emails/{emailId}":{"get":{"tags":["Emails"],"summary":"Get email details","operationId":"getEmail","parameters":[{"name":"emailId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmailLogResponse"}}}}}}},"/api/v1/emails/search":{"get":{"tags":["Emails"],"summary":"Search emails","operationId":"searchEmails","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EmailLogResponse"}}}}}}}},"/api/v1/domains/{domainId}":{"get":{"tags":["Domains"],"summary":"Get domain details","description":"Gets details and DNS records for a domain. Requires domain:read scope.","operationId":"getDomain","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DomainResponse"}}}}}},"delete":{"tags":["Domains"],"summary":"Delete domain","description":"Deletes a domain. Requires domain:write scope.","operationId":"deleteDomain","parameters":[{"name":"domainId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/apps":{"get":{"tags":["App Catalog"],"summary":"List apps","description":"Lists all supported apps in the catalog. Requires app:read scope.","operationId":"listApps","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AppSummaryResponse"}}}}}}}},"/api/v1/apps/{appKey}":{"get":{"tags":["App Catalog"],"summary":"Get app details","description":"Gets triggers, actions, and connection schemas for a specific app. Requires app:read scope.","operationId":"getApp","parameters":[{"name":"appKey","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AppDetailResponse"}}}}}}},"/api/v1/webhooks/{id}":{"delete":{"tags":["Webhooks"],"operationId":"deleteSubscription","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/suppressions/{suppressionId}":{"delete":{"tags":["Suppressions"],"summary":"Delete a suppression","description":"Removes an email address from the suppression list. Requires suppression:write scope.","operationId":"removeSuppression","parameters":[{"name":"suppressionId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}}}},"/api/v1/email/custom-events/{name}":{"delete":{"tags":["Custom Events"],"summary":"Delete a custom event","operationId":"deleteEvent","parameters":[{"name":"name","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"schemas":{"CreateWorkflowRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":255,"minLength":0},"description":{"type":"string","maxLength":500,"minLength":0}},"required":["name"]},"WorkflowSummaryResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"isActive":{"type":"boolean"},"status":{"type":"string"},"stepCount":{"type":"integer","format":"int32"},"revision":{"type":"integer","format":"int64"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastRunAt":{"type":"string","format":"date-time"}}},"WorkflowRunSummaryResponse":{"type":"object","properties":{"id":{"type":"string"},"workflowId":{"type":"string"},"status":{"type":"string"},"errorMessage":{"type":"string"},"totalSteps":{"type":"integer","format":"int32"},"completedSteps":{"type":"integer","format":"int32"},"failedSteps":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"}}},"CreateWebhookRequest":{"type":"object","properties":{"url":{"type":"string","minLength":1},"subscribedEvents":{"type":"array","items":{"type":"string"},"minItems":1,"uniqueItems":true}},"required":["subscribedEvents","url"]},"PublicWebhookResponse":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"signingSecret":{"type":"string"},"subscribedEvents":{"type":"array","items":{"type":"string"},"uniqueItems":true},"createdAt":{"type":"string","format":"date-time"}}},"CreateTemplateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":255,"minLength":0},"subject":{"type":"string","maxLength":1000,"minLength":0},"htmlBody":{"type":"string","minLength":1},"textBody":{"type":"string"},"variables":{"type":"array","items":{"$ref":"#/components/schemas/TemplateVariable"}}},"required":["htmlBody","name","subject"]},"TemplateVariable":{"type":"object","properties":{"name":{"type":"string"},"type":{"type":"string","enum":["STRING","NUMBER"]},"fallbackValue":{"type":"string"}}},"PublicTemplateResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"subject":{"type":"string"},"htmlBody":{"type":"string"},"textBody":{"type":"string"},"status":{"type":"string"},"variables":{"type":"array","items":{"$ref":"#/components/schemas/TemplateVariable"}},"hasPublishedSnapshot":{"type":"boolean"},"publishedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"TestSendRequest":{"type":"object","properties":{"toAddress":{"type":"string","minLength":1},"variables":{"type":"object","additionalProperties":{}}},"required":["toAddress"]},"PublicTestSendResponse":{"type":"object","properties":{"emailLogId":{"type":"string"},"status":{"type":"string"}}},"AddSuppressionRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1}},"required":["email"]},"ImportSuppressionsRequest":{"type":"object","properties":{"emails":{"type":"array","items":{"type":"string"}}}},"SendEmailRequest":{"type":"object","properties":{"from":{"type":"string","format":"email","minLength":1},"to":{"type":"string","format":"email","minLength":1},"subject":{"type":"string","minLength":1},"htmlBody":{"type":"string"},"textBody":{"type":"string"},"templateId":{"type":"string","format":"uuid"},"templateData":{"type":"object","additionalProperties":{}},"emailType":{"type":"string","enum":["TRANSACTIONAL","MARKETING"]}},"required":["emailType","from","subject","to"]},"SendEmailResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"to":{"type":"string"},"from":{"type":"string"},"subject":{"type":"string"},"status":{"type":"string"}}},"SendTemplatedRequest":{"type":"object","properties":{"from":{"type":"string","format":"email","minLength":1},"to":{"type":"string","format":"email","minLength":1},"templateId":{"type":"string","format":"uuid"},"templateData":{"type":"object","additionalProperties":{}},"emailType":{"type":"string","enum":["TRANSACTIONAL","MARKETING"]}},"required":["from","templateId","to"]},"SendBatchRequest":{"type":"object","properties":{"from":{"type":"string","format":"email","minLength":1},"subject":{"type":"string","minLength":1},"htmlBody":{"type":"string"},"textBody":{"type":"string"},"templateId":{"type":"string","format":"uuid"},"templateData":{"type":"object","additionalProperties":{}},"emailType":{"type":"string","enum":["TRANSACTIONAL","MARKETING"]},"to":{"type":"array","items":{"type":"string","format":"email"},"minItems":1}},"required":["from","subject","to"]},"SendBatchResponse":{"type":"object","properties":{"emails":{"type":"array","items":{"$ref":"#/components/schemas/SendEmailResponse"}}}},"CreateCustomEventRequest":{"type":"object","properties":{"name":{"type":"string"},"jsonSchema":{"type":"object","additionalProperties":{}}}},"CustomEvent":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"name":{"type":"string"},"jsonSchema":{"type":"object","additionalProperties":{}},"createdAt":{"type":"string","format":"date-time"}}},"FireCustomEventRequest":{"type":"object","properties":{"correlationKey":{"type":"string"},"payload":{"type":"object","additionalProperties":{}}}},"AddDomainRequest":{"type":"object","properties":{"domainName":{"type":"string","minLength":1},"allowedEmailType":{"type":"string","enum":["TRANSACTIONAL_ONLY","MARKETING_AND_BULK","BOTH"]},"credentialSource":{"type":"string","enum":["PERSONAL","PLATFORM"]},"emailProviderConnectionId":{"type":"string","format":"uuid"}},"required":["domainName"]},"DnsRecord":{"type":"object","properties":{"type":{"type":"string"},"name":{"type":"string"},"value":{"type":"string"}}},"DomainResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"domainName":{"type":"string"},"status":{"type":"string"},"requiredDnsRecords":{"type":"array","items":{"$ref":"#/components/schemas/DnsRecord"}},"createdAt":{"type":"string","format":"date-time"},"verifiedAt":{"type":"string","format":"date-time"},"spfVerified":{"type":"boolean"},"dkimVerified":{"type":"boolean"},"dmarcVerified":{"type":"boolean"},"dailySendCap":{"type":"integer","format":"int32"},"warmingStatus":{"type":"string"},"sendReadiness":{"type":"string"},"allowedEmailType":{"type":"string"},"credentialSource":{"type":"string"},"emailProviderConnectionId":{"type":"string","format":"uuid"},"healthStatus":{"type":"string"},"warnings":{"type":"array","items":{"type":"string"}},"trackingEnabled":{"type":"boolean"},"unsubscribeLogoUrl":{"type":"string"},"unsubscribePrimaryColor":{"type":"string"},"unsubscribeCopy":{"type":"string"},"bimiLogoUrl":{"type":"string"},"bimiVmcUrl":{"type":"string"}}},"CreateConnectionRequest":{"type":"object","properties":{"appKey":{"type":"string","maxLength":100,"minLength":0},"name":{"type":"string","maxLength":255,"minLength":0},"credentials":{"type":"object","additionalProperties":{}}},"required":["appKey","credentials","name"]},"ConnectionResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"appKey":{"type":"string"},"name":{"type":"string"},"status":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"grantedScopes":{"type":"string"}}},"CreateContactRequest":{"type":"object","properties":{"email":{"type":"string","format":"email","minLength":1},"firstName":{"type":"string"},"lastName":{"type":"string"}},"required":["email"]},"ContactResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"subscribed":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"UpdateWorkflowRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":255,"minLength":1},"description":{"type":"string","maxLength":500,"minLength":0}}},"UpdateTemplateRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":255,"minLength":1},"subject":{"type":"string","maxLength":1000,"minLength":0},"htmlBody":{"type":"string"},"textBody":{"type":"string"},"variables":{"type":"array","items":{"$ref":"#/components/schemas/TemplateVariable"}}}},"UpdateConnectionRequest":{"type":"object","properties":{"name":{"type":"string","maxLength":255,"minLength":1},"credentials":{"type":"object","additionalProperties":{}}}},"UpdateContactRequest":{"type":"object","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"subscribed":{"type":"boolean"}}},"WorkflowListResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowSummaryResponse"}},"nextCursor":{"type":"string"}}},"StepResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"order":{"type":"number"},"appKey":{"type":"string"},"actionKey":{"type":"string"},"connectionId":{"type":"string","format":"uuid"},"parentStepId":{"type":"string","format":"uuid"},"branchKey":{"type":"string"},"configuration":{"type":"object","additionalProperties":{}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"WorkflowDetailResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"isActive":{"type":"boolean"},"status":{"type":"string"},"revision":{"type":"integer","format":"int64"},"steps":{"type":"array","items":{"$ref":"#/components/schemas/StepResponse"}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"lastRunAt":{"type":"string","format":"date-time"}}},"PageWorkflowRunSummaryResponse":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/WorkflowRunSummaryResponse"}},"number":{"type":"integer","format":"int32"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"unpaged":{"type":"boolean"},"offset":{"type":"integer","format":"int64"}}},"SortObject":{"type":"object","properties":{"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"},"empty":{"type":"boolean"}}},"StepRunResponse":{"type":"object","properties":{"id":{"type":"string"},"stepId":{"type":"string"},"status":{"type":"string"},"inputData":{"type":"object","additionalProperties":{}},"outputData":{"type":"object","additionalProperties":{}},"errorMessage":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"}}},"WorkflowRunDetailResponse":{"type":"object","properties":{"id":{"type":"string"},"workflowId":{"type":"string"},"status":{"type":"string"},"triggerData":{"type":"object","additionalProperties":{}},"errorMessage":{"type":"string"},"stepRuns":{"type":"array","items":{"$ref":"#/components/schemas/StepRunResponse"}},"createdAt":{"type":"string","format":"date-time"},"completedAt":{"type":"string","format":"date-time"}}},"WorkflowRunStatsResponse":{"type":"object","properties":{"totalRuns":{"type":"integer","format":"int64"},"successCount":{"type":"integer","format":"int64"},"failedCount":{"type":"integer","format":"int64"},"runningCount":{"type":"integer","format":"int64"},"pendingCount":{"type":"integer","format":"int64"}}},"PublicWebhookListResponse":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"subscribedEvents":{"type":"array","items":{"type":"string"},"uniqueItems":true},"createdAt":{"type":"string","format":"date-time"}}},"PublicPageSuppressionResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/SuppressionResponse"}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}}},"SuppressionResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"email":{"type":"string"},"reason":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"DailyCount":{"type":"object","properties":{"date":{"type":"string"},"status":{"type":"string"},"count":{"type":"integer","format":"int64"}}},"MetricsResponse":{"type":"object","properties":{"summary":{"$ref":"#/components/schemas/MetricsSummary"},"daily":{"type":"array","items":{"$ref":"#/components/schemas/DailyCount"}}}},"MetricsSummary":{"type":"object","properties":{"total":{"type":"integer","format":"int64"},"pending":{"type":"integer","format":"int64"},"sent":{"type":"integer","format":"int64"},"delivered":{"type":"integer","format":"int64"},"failed":{"type":"integer","format":"int64"},"bounced":{"type":"integer","format":"int64"},"suppressed":{"type":"integer","format":"int64"},"totalOpens":{"type":"integer","format":"int64"},"totalClicks":{"type":"integer","format":"int64"}}},"EmailLogResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"to":{"type":"string"},"from":{"type":"string"},"subject":{"type":"string"},"status":{"type":"string"},"provider":{"type":"string"},"providerMessageId":{"type":"string"},"error":{"type":"string"},"templateId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"sentAt":{"type":"string","format":"date-time"},"openedAt":{"type":"string","format":"date-time"},"openCount":{"type":"integer","format":"int32"},"clickCount":{"type":"integer","format":"int32"}}},"PublicPageDomainResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/DomainResponse"}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}}},"PublicPageContactResponse":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ContactResponse"}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}}},"AppSummaryResponse":{"type":"object","properties":{"appKey":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"logoUrl":{"type":"string"},"authType":{"type":"string"},"altAuthType":{"type":"string"},"credentialSchema":{"type":"array","items":{"type":"object","additionalProperties":{}}},"category":{"type":"string"},"helpUrl":{"type":"string"},"internal":{"type":"boolean"},"hasPlatformKey":{"type":"boolean"}}},"AppDetailResponse":{"type":"object","properties":{"appKey":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"logoUrl":{"type":"string"},"authType":{"type":"string"},"altAuthType":{"type":"string"},"triggers":{"type":"array","items":{"type":"object","additionalProperties":{}}},"actions":{"type":"array","items":{"type":"object","additionalProperties":{}}},"credentialSchema":{"type":"array","items":{"type":"object","additionalProperties":{}}},"category":{"type":"string"},"helpUrl":{"type":"string"},"internal":{"type":"boolean"},"hasPlatformKey":{"type":"boolean"}}}},"securitySchemes":{"ApiKeyAuth":{"type":"http","description":"Your Crescendo API key. Obtain one from the dashboard Settings → API Keys. All API keys are prefixed with `re_`.","in":"header","scheme":"bearer","bearerFormat":"API Key"}}}}